# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
venv/etc/jupyter/nbconfig/notebook.d/pydeck.json
venv/share/jupyter/nbextensions/pydeck/extensionRequires.js
venv/share/jupyter/nbextensions/pydeck/index.js
venv/share/man/man1/ttx.1
venv/share/jupyter/nbextensions/pydeck/index.js.map
